@font-face {
	font-family: 'TiltNeon'; 
	src: url(../../static/css/fonts/TiltNeon-Regular-VariableFont_XROT,YROT.ttf); 
}
body{
    background-color: #474747;
    font-family: 'TiltNeon';
}
.navbar{
    background-color: #858585;
    height: 19%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo{
    width:60px;
    height:60px;
    padding:10px;
}
.input{
    border-radius: 10px;
    border-style: 1px solid #2b2b2b;
}
.search-button{
    border-radius: 100%;
    height: 40px;
    background-color: #2b2b2b;
    color: #d4d4d4;
}
.search-button:hover{
    border-radius: 100%;
    height: 40px;
    background-color: #E5E5E5;
    color: rgb(39, 39, 39);
}
.right-side-navbar{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.profile{
    display: flex;
    flex-direction: row;
}
.profile img{
    width: 50px;
    height: 50px;
    align-items: left;
    margin-right:10px;
    border-radius: 50%;
    border: 2px solid #0B0718;
    overflow: hidden;
    margin-right: 15px;
}
.username{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-settings{
    display: flex;
    flex-direction: column;
}
.settings{
    width:60px;
    height:60px;
    padding:10px;
    border-style: 1px solid #0B0718;
}
.buttons{
    display: flex;
    flex-direction: row;
    
}
a{
    text-decoration: none;
    color: #171717;
}
a:hover{
    color: #E5E5E5;
    
}
.container-box-1{
    display: flex;
    flex-direction: row;
}
.top-line{
    display: flex;
    margin: 20px 100px;
    font-size: 30px;
    gap: 40px;
}

.q-container {
    color: #E5E5E5;
}
.q-container a{
    color: #979797;
}

.question:hover{
    border: 2px solid #cbcbcb;
}
.question{
    margin: 20px 40px;
    display: flex;
    flex-direction: row;
    height: 130px;
    width: 600px;
    border-style: 1px solid #212121;
    background-color: rgb(40, 40, 40);
    border-radius: 20px;
}
.q-title{
    color: #b1b1b1;
}
.question img{
    height: 90px;
    width: 90px;
    border-radius: 10px;
    margin: 20px;
}
.q-info{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 20px 10px;
}
.bottom-line{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: left;
}
.q-description{
    color: #5e5e5e;
    font-size: 16px;
}
.like-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: #777777;
} 
.like-container a:hover{
    color: #e0e0e0;
}
.like-button {
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin-right: 8px;
}
.like-count {
  font-size: 18px;
}
.like-container a{
    color: #9f9f9f;
}
.right-menu a{
    color: #797979;
}
.right-menu{
    display: flex;
    flex-direction: column;
}
.right-menu{
    display: flex;
    flex-direction: column;
}
.right-menu h1{
    font-size: 30px;
    margin: 0px 50px;
}   
.right-menu{
    display: grid;
    align-items: end;
    gap: 5px;
    margin-top: 20px;
    margin-left: 100px;
}
.right-menu a:hover{
    color:#E5E5E5;
}
.right-menu li{
    list-style: none;
}
.title, .text, .tags{
    display: flex;
    font-size: 20px;
    color: #979797;
    margin: 20px 60px;
    gap: 20px;
    align-items: top;
}
.title input, .tags input{
    width: 505px;
    height: 30px;
    border-radius: 5px;
}
.text textarea{
    width: 505px;
    height: 300px;
    padding-bottom: 260px;
    padding-left: 10px;
    border-radius: 5px;
}
.ask-button{
    margin: 20px 120px;
    width: 80px;
    box-shadow: 5px 5px #171717;
    border-radius: 10px;
}
.answers h1{
    font-size: 30px;
    margin: 40px 100px;
}
.answer{
    margin: 20px 40px;
    display: flex;
    flex-direction: row;
    height: 130px;
    width: 600px;
    border-style: 1px solid #6b6b6b;
    background-color: rgb(91, 91, 91);
    border-radius: 20px;
}
.answer img{
    height: 90px;
    width: 90px;
    border-radius: 10px;
    margin: 20px;
}
.a-description{
    color: #2c2c2c;
    font-size: 16px;
    width: 430px;
}
.your-answer input{
    width: 600px;
    height: 100px;
    padding-bottom: 60px;
    padding-left: 10px;
    border-radius: 20px;
    margin: 20px 40px;
}
.question-page{
    margin: 40px 40px;
    display: flex;
    flex-direction: row;
    height: 130px;
    width: 600px;
    border-style: 1px solid #212121;
    background-color: rgb(40, 40, 40);
    border-radius: 20px;
}
.question-page img{
    height: 90px;
    width: 90px;
    border-radius: 10px;
    margin: 20px;
}
.container-box-login{
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}
.fields{
    display: flex;
    flex-direction: column;
}
.login{
    margin: 20px 60px;
    display: grid;
    place-items: center;

}
.login-field{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #979797;
    margin: 20px 60px;
    gap: 20px;
    align-items: top;
}
.login-input{
    margin-left: 36px;
}
.tag-text{
    margin: 0 170px;
}
.sign-button{
    width: 80px;
    box-shadow: 5px 5px #171717;
    border-radius: 10px;
    margin: 30px 200px;
}
.login-field button{
    margin-left: 28px;
    height: 230px;
    width: 230px;
}
.save-button{
    margin:  20px 250px;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    box-shadow: 5px 5px #0B0718;
}
.pagination{
    margin: 20px 80px;
}
.page-link{
color:#171717;
background-color: #858585;
border: 2px solid #777777;
}