   {% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<div class="container-box-1">
        <div class="q-container">
            <h1 class="top-line">New Question</h1>
            <div class="title">Title
            <input type="text" placeholder = "title">
            </div>
            <div class="text">Text
                <textarea type="text" placeholder = "write your question here"></textarea>
            </div>
            <div class="tags">Tags
                <input type="text" placeholder = "write your tags here">
            </div>
            <button class="ask-button">Ask</button>
        </div>
    {% endblock %}
 </div>