{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<div class="container-box-1">
        <div class="q-container">
            <div class="top-line">
                <a><h1>{{ p1 }}New Questions</h1></h1></a>
                <a href="#">Hot Questions</a>
            </div>
            <section class="questions">
                {% for question in questions %}

                {% include 'components/question-item.html' %}

                {% endfor %}
            </section>
        </div>

    {% endblock %}
</div>