{% load static %}

<a href="question.html"><div class="question">
                    <img src="{% static 'img/avatar.jpg' %}">
                    <div class="q-info">
                        <a href="{% url 'question' question_id=question.id%}" class="q-title">{{ question.title}}</a>
                        <div class="q-description">{{ question.content }}</div>
                            <div class="bottom-line">
                                <div class="like-container">
                                    <button class="like-button">&#x2764;&#xfe0f;</button>
                                    <span class="like-count">0</span>
                                    <a href="{% url 'question' question_id=question.id  %}" class="answers">answers({{ question.answers_number }})</a>
                                    <div>Tags:
                                        {% for tag in question.tags %}
                                        <a href="tags.html">{{ tag }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>